<div class="card" *ngIf="!gameF && boardExist">
    <div class="card-body">
       <h1>Tambola</h1>
       <div class="players">
        <p>Players in Board: {{playersNumber}} </p>
       </div>

        <div class="col-lg-12">
            <div class="boardRow row col-lg-12" *ngFor="let row of BoardData">
                <div 
                [ngClass]="bNumber.selected? (bNumber.value == CurrentNumber? 'boardNumber current': 'boardNumber selected'): 'boardNumber'"
                *ngFor="let bNumber of row">
                <a> {{bNumber.value}}  </a>
                </div>
            </div>
        </div>
       
        <div>
            <div class="numbers-container row">
                <div class="col-lg-12 next-number">
                    <button class="btn btn-success" (click)="NextNumber()">Next Number</button>
                </div>
                <div class="recent-numbers col-lg-3">
                    <label>Recent Numbers</label>
                    <div *ngFor="let recentNumber of RecentNumbers"
                    [ngClass]="recentNumber == CurrentNumber? 'recent-number current': 'recent-number'">
                      {{recentNumber}}
                    </div>
                </div>
                <div class="current-number col-lg-9">
                    Chosen Number: {{CurrentNumber}}
                </div>
                
            </div>
        </div>
        
    </div>
</div>
<div class="gameFinish" *ngIf="gameF  && boardExist">
  
        <H1>Game over, close the page please</H1>
        <img src="../../assets/params/gifs/Juegoterminado.gif" alt="Funny image">
   
</div>

<div class="noExist"*ngIf="!boardExist">
    <p class="alert">This Board no exits</p>
    <img src="https://freefrontend.com/assets/img/html-css-404-page-templates/HTML-404-Page-with-SVG.png">
    
</div>

        





