.card {
    background-color:rgba(30,30,30,0.4);
}

.card .card-body{
    background-color:rgba(30,30,30,0.4);
}

.boardNumber.selected{
    background: green;
    color: white;
}
.boardNumber.current{
   
    background: red;
    color: white;
}

.boardNumber{
    width: 10%;
    text-align: center;
   
}
h1{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 28px;
}
a{
    font-size: 20px;
}
.boardRow{
    margin-bottom: 5px;
}

button {
    margin-top: 2%;
    margin-left: 43%;
    
}
.gameFinish{
    background-color:rgba(30,30,30,0.4);
    
    color: white;
    
}
.gameFinish img {
    margin-left: 28%;
    margin-bottom: 5%;
}
.noExist{
    background-color:rgba(30,30,30,0.4);
    color: white;
    text-align: center;
    
    margin-top: 2%;
    margin-left: 0%;

}


.noExist .alert{
    font-size: 22px;
}
.noExist img{
    width: 800px;
    height: 400px;
    margin-bottom: 2%;
}
.players p{
   text-align: center;
   margin-top: -4%;
   margin-left: 78%;
}