html,body{
    background-image: url('https://wallpaperaccess.com/full/731631.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    margin: 0;
    padding: 0;
}

.carousel{
    margin-left: -7%;
    margin-top: -3.6%;
    margin-right: -7.2%;
    margin-bottom: -4%;
}

