
<div class="login">
  <form [formGroup]="loginForm" class="custom-form" (ngSubmit)="onLogin(loginForm.value)">
    <h1>Login</h1>
    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="email" formControlName = "email" name="email" placeholder="Email" required="required"/>

    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input type="password" formControlName ="passwordHash" name="passwordHash" placeholder="Password" required="required"/>
    </div>
    
    
    <button type="submit" value="Login">Login</button>
    
  </form>

</div>


