
  h1 {
    font-family: 'Numans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .custom-form {
    min-width: 300px;
    max-width: 60%;
    margin: 0px auto;
    color: #fff;
    background-color:rgba(30,30,30,0.6);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    
    margin-top: 5rem;
  }
  .custom-form input {
    
    display: block;
    margin: 2rem 0;
    width: 91%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background:  #4dbf1c;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }

  .custom-form button:hover{
    background: #2f9204;
  }


  .input-group-prepend span{
    width: 40px;
    height: 56px;
    background-color:#4dbf1c;
    color: black;
    border:0 !important;
    margin-top: 32px;
    }