
<div class="logout">
  <div class="icon-logout">
      <span class="input"><i class="fas fa-sign-out-alt"></i></span>
  </div>
  <a href="javascript:void(0);" id="out" (click)="deletePlayer()">Exit of Game</a>
</div>

<div class="card-xd"  *ngIf="localCards && !gameF && boardExist">
  <div class="title-container" *ngIf="localCards && !gameF && boardExist">
    <h2>Cards</h2>
  </div>
  <div class="infoBoard">
    <label>ID of Board {{id}}</label><br>
    <label>Recent Numbers: {{recent1 }} {{recent2 }} {{recent3 }}</label>
    <div *ngFor="let recentNumber of RecentNumbers"
       [ngClass]="recentNumber == CurrentNumber? 'recent-number current': 'recent-number'">
       {{recentNumber}}
    </div>
    <div class="current-number col-lg-9">
        Chosen Number: {{currentN}}
    </div>

  </div>
  
</div>
<div class="counter-container" *ngIf="showCounterForm && !gameF && !localCards && boardExist">
  <div class="neu-circle">
    <div class="counter">
      <label>Number of boards
        <input class="form-control nud" type="number" min="1" max="24" [(ngModel)]="counter">
      </label>
      <br>
      <button class="btn btn-success" (click)="createCards()">Create</button>
    </div>
  </div>
</div>


<div class="cards-container " *ngIf="localCards && !gameF && boardExist">
  
  <div class="card" *ngFor="let card of cards">
    <div class="card-body">
      <!-- <label for="id" class="label-info" style="font-size: 10px;">{{card.id}}</label> -->
      <hr>
      <div>
        <div class="numbers" *ngFor="let num of card.numbers">
          <p class="normal" *ngIf="!isGetted(num) && !isBiggerThan9(num)">0{{num}}</p>
          <p class="selected" *ngIf="isGetted(num) && !isBiggerThan9(num)">0{{num}}</p>
          <p class="normal" *ngIf="!isGetted(num) && isBiggerThan9(num)">{{num}}</p>
          <p class="selected" *ngIf="isGetted(num) && isBiggerThan9(num)">{{num}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="gameFinish" *ngIf="gameF && boardExist">
  <br>
  <div *ngIf="win">
    <H2>Game over, close the page please</H2>
    <img src="../../assets/params/gifs/Win.webp" alt="Funny image">
  </div>

  <div *ngIf="!win">
    <H2>Game over, close the page please</H2>
    <img src="../../assets/params/gifs/lose.webp" alt="Funny image">
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="closeGame()">Exit</button>
  

</div>
<div class="noExist"*ngIf="!boardExist">
  <p class="alert">This Board no exits</p>
  <img src="https://freefrontend.com/assets/img/html-css-404-page-templates/HTML-404-Page-with-SVG.png">
  
</div>