.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
h2{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 4%;
    font-size: 28px;
}

.counter{
    z-index: 100;
    flex-direction: column;
}

.form-control{
    width: 100%;
    border: none;
    background: #dde1e7;
    border-radius: 15px;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.5), 3px 3px 5px rgba(94, 104, 121, 0.3);
}
.nud{
    margin-top: 20px;
}
.counter .btn{
    width: 100%;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 5px 10px 0px;
   }

.title-container{
    
    text-align: center;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background: rgba(30, 30, 30, 0.6);
    text-align: center;
    overflow:auto;
    width: 100%;
    max-height: 390px;

}
.cards-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cards-container::-webkit-scrollbar:vertical {
    width:10px;
}

.cards-container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.cards-container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.cards-container::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.card{
    width: 330px;
    margin: 20px;
    border: none;
    background: #343435;
    border-radius: 15px;
   }

.label-info{
    margin: 3px; 
    padding: 0px;
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: normal;
}
.numbers{
    display: inline-block; 
    margin: 0px;
    padding: 0px;
    
}
.normal{
    margin: 8px;
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.selected{
    margin: 8px;
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(11, 168, 24);
    color: rgb(248, 248, 248);
    font-size: 20px;
}
.card-xd{
    color: white;
    background-color:rgba(30,30,30,0.6);
   
}
.gameFinish{
    background-color:rgba(30,30,30,0.4);
    
    color: white;
    
}
.gameFinish img {
    margin-left: 28%;
    margin-bottom: 5%;
}

.gameFinish .btn{
    margin-left: 35%;
    width: 350px;
    margin-bottom: 3%;
}

.infoBoard{
    margin-left: 2%;
}
.noExist{
    background-color:rgba(30,30,30,0.4);
    color: white;
    text-align: center;
    
    margin-top: 2%;
    margin-left: 0%;

}


.noExist .alert{
    font-size: 22px;
}
.noExist img{
    width: 800px;
    height: 400px;
    margin-bottom: 2%;
}
.logout #out{
    color: white;
    margin-top: -1.9%;
    position: absolute;
    margin-left: 1.5%;
}
.logout{
    margin-top: 3%;
    margin-bottom: -2%;
    margin-left: 0.2%;
}