body {
  padding-top: 0rem;
  color: white;
  font-weight: 350;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.footer {
  background: #3F729B;
  padding: 0em;
}