/* app/styles.css */

* {
    box-sizing: border-box;
  }
  html,
  body {
    background: #ecf0f3;
    color: gray;
    
  }


  h1, h3 {
    font-family: 'Numans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
  }
   h3{
    margin-top: 5rem;
   }
  .custom-form {
    min-width: 300px;
    max-width: 60%;
    margin: 0px auto;
    background-color:rgba(30,30,30,0.6);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 0.5rem;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
  
    border: 0 none;
  
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background:  #4dbf1c;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
  .custom-form button:hover{
    background: #2f9204;
  }

  .table {
    margin-top: 3.5rem;
    color: white;
    background-color:rgba(30,30,30,0.6);
    width: 70%;
    margin-left: 14%;
  }

 
  .table th {
    padding: .2em .8em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(10,10,10,0.5);
    text-align: center;
    height: 10px;
   
}
.table td {
    color: white;
    padding: .2em .8em;
    border: 1.2px solid rgba(112, 110, 110, 0.5);
    background: rgba(10,10,10,.5);
    text-align: left;
    height: 30px;
}

.my-custom-scrollbar {
  position: relative;
  height: 260px;
  overflow: auto;
  }
.table-wrapper-scroll-y {
  display: block;
  }

.logout #out{
    color: white;
    margin-top: -2%;
    position: absolute;
    margin-left: 2%;
}



